extends layout

block content
  h1= title
  p Welcome to #{title}
  div 
    if user 
      div
        a(href="/character/new") 新しいキャラクターを作る
        br
        div.my-3
          a(href="/logout").btn.btn-info #{user.username} をログアウト
        - var hasCharacter = characterdatas.length > 0
        if hasCharacter 
          h3 あなたのキャラクター
            each characterdata in characterdatas
              a(href=`/character/${characterdata.character_id}`) #{characterdata.character_name} #{characterdata.updatedAt}
              hr
              br
    else 
      div 
        a(href="/login") ログイン