doctype html
html
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    meta(property="og:url" content="https://radiant-citadel-81820.herokuapp.com/")
    meta(property="og:type" content="website")
    meta(property="og:title" content="道を無事に通行する物語")
    meta(property="og:description" content="物語りを自動で作るページ")
    meta(property="og:image" content="public/images/ogp2.png")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="canonical" href="https://radiant-citadel-81820.herokuapp.com/")
    link(rel='shortcut icon' href='https://radiant-citadel-81820.herokuapp.com/favicon.ico' type="image/vnd.microsoft.icon")
    link(rel='apple-touch-icon' href='https://radiant-citadel-81820.herokuapp.com/favicon.ico')
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
    crossorigin="anonymous")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer, src="/javascripts/bundle.js")
  body.container
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
    crossorigin="anonymous")
    block content
