extends layout 

block content 
  h4 #{characterdata.character_name}
  p 作成日時 #{characterdata.updatedAt}
  p TODOキャラ作成時ミリ秒 #{milli_second}
  p 経過ミリ秒 #{elapsed_milli_second}
  p 経過時間 #{elapsed_hours_minutes}
  p 物語り #{storys}
  p TODO　行動時間　ランダムな行動が表示